target/
**/logs/

.gitignore
.DS_Store
digital-education-application/.DS_Store
digital-education-elasticsearch/.DS_Store
digital-education-search/.DS_Store
digital-education-utilities/.DS_Store
institutions.json
### Mvn ###
mvnw
mvnw.cmd
/.mvn/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
